node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

dist/
build/

*.tsbuildinfo

.env
.env.local
.env.development
.env.test
.env.production

logs/
*.log
*.log.*

*.tmp
*.temp
*.swp

.DS_Store
.vscode/
.idea/
*.sublime-*

coverage/         # Pokrivenost testova (npr. od Jest-a ili drugih alata)

prisma/dev.db
prisma/migrations/

*.pid
*.seed
*.bak